/bin

*.jar

target/maven-archiver/pom.properties

target/surefire-reports/com.sree.textbytes.readabilityBUNDLE.AppTest.txt

target/surefire-reports/TEST-com.sree.textbytes.readabilityBUNDLE.AppTest.xml
